extends ../layout

block content
    .container-fluid
      .row-fluid
        for item in movies
          .col-xs-12.col-sm-4.col-md-2       
            .thumbmail
              a(href="/movie/#{item._id}")
                img(alt='140x140', src='#{item.poster}',srcset="")
              .caption
                h3 #{item.title}
                button.btn.btn-primary.btn-user(href="/movie/#{item._id}",type='button') 观看影片


//- extends ../layout
//- block content
//-   .container
//-     .row
//-       each item in movies
//-         .col-md-2
//-           .thumbnail
//-             a(href="/movie/#{item._id}")
//-               img(src="#{item.poster}", alt="#{item.title}")
//-             .caption
//-               h3 #{item.title}
//-               p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片